noscript
  link(rel="stylesheet", href="/stylesheets/less/style.css")
  div(id='noscript') Javascript required
header(role="banner", id="banner")
  h1
    a(href="/") Spotmaps
  nav(id="nav")
    ul(role="navigation", id="menu")
      li(id='menu-genre')
        a Genre
        ul
          each count, genre in menu
            li(class="menuItem")
              a(href="/genre/" + genre)= genre
                span(class="filmCount")&nbsp;(#{count})
          li(class="menuItem viewAll")
            a(href="/list") List all genres
      li(id="menu-list")
        a(href="/list") List
      li(id="menu-about")
        a(href="/about") About