noscript
  link(rel="stylesheet", href="/stylesheets/less/style.css")
  div(id='noscript') Javascript required
header(role="banner", id="banner")
  h1
    a(href="/") Spotmaps
  nav(id="nav")
    ul(role="navigation", id="menu")
      li(id='genre')
        a Genre
        ul
          li
            a(href="/genre/action and adventure") Action and adventure
          li
            a(href="/genre/animation") Animation
          li
            a(href="/genre/comedy") Comedy
          li
            a(href="/genre/crime") Crime
          li
            a(href="/genre/documentary") Documentary
          li
            a(href="/genre/drama") Drama
          li
            a(href="/genre/family") Family
          li
            a(href="/genre/horror") Horror
          li
            a(href="/genre/period and historical") Period and historical
          li
            a(href="/genre/science fiction and fantasy") Science fiction and fantasy
          li
            a(href="/genre/thriller") Thriller
          li
            a(href="/genre/western") Western
      li
        a(href="/search", id="menu-search") Search
      li
        a(href="/about", id="menu-about") About