script(src="/scripts/lib/jquery-1.7.2.min.js")
script(src="/scripts/lib/jquery.touchSwipe.min.js")
script(src="/scripts/lib/hashchange.js")
script(src="/scripts/lib/underscore-1.4.2-min.js")
script(src="/scripts/lib/core.js")
script(src=versionPath("/scripts/app/app.js"))