extends layout

block content
  div(id="content")
    div(class="wrap 404")
      p 404
      p No route exists for this page.
      p
        | Click 
        | <a href="/">here</a>
        | or on the page title to return home, or use the menu to navigate.