extends layout

block content
  div(id="content")
    div(class="wrap")
      p Spotmaps is an on-going project to map the colour footprints of different films.
      p Films are processed with a Python/OpenCV pipeline and each frame's colour sampled. A spot of average colour is produced from the combination of one second's frames.
      p Spots are laid out 60 per line to represent one minute of film time. The length of the image represents the number of minutes in the film.
      p No additional image processing is performed.
      p This project is based on Brendan Dawes' <a href="http://brendandawes.com/projects/cinemaredux">Cinema Redux</a>.
      p &copy 2012 Andy Willis