extends layout

block content
  div(id="content")
    div(class="wrap")
      p
        a(href="/8dm1n/metric.log") Download metric log
      p
        <a id="updateRSS" href="/8dm1n/updateRSS">Update RSS feed</a><span id="rssUpdated">RSS updated</span>