extends layout

block content
  div(id="content")
    div(class="wrap 404")
      p 404
      p This page does not exist.
      p
        | Click 
        | <a href="/">here</a>
        | or the site heading to return home, or use the menu to navigate.