doctype 5
html
  head
    title Spotmaps
    include includes/meta
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="alternate", href="/rss/spotmaps.rss", type="application/rss+xml", title="rss")
    include includes/google
  body
    include includes/header
    block content
    include includes/spotmapTemplate
    include includes/listTemplate
    div(id="right")
      p >>
    div(id="left")
      p <<
    div(id="info")
      p 
    div(id="loader")
      p Loading images
    include includes/scripts