extends layout

block content
  div(id="content")
    div(class="wrap")
      form
        label(class="searchLabel")
          span(class="formSpan selected", id="formDirector") director
          span(class="formSpan", id="formGenre") genre
          span(class="formSpan", id="formWriter") writer
          span(class="formSpan", id="formYear") year
        br(class="formBreak")
        input(type="text", class="searchInput", size="30", placeholder="Search for director")
        br(class="formBreak")
        input(type="submit", class="formSubmit", value="Submit")