extends layout

block content
  div(id="content")
    div(class="wrap")
      p Search is currently not implemented
      p
        | Click 
        | <a href="/">here</a>
        | or on the page title to return home, or use the menu to navigate.